<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

section.col-1

section.col-2
  article
    h2.top Spring 2014
    p Details take time.
    h1 Spiegel Made
    h2.bottom Made in Canada